.App {
  background-color: rgb(246, 246, 42);
  display: flex;
  justify-content: center;
}

.board {
  background-color: aqua;
  height: 310px;
  width: 310px;
  border: black 4px solid;
}

.row {
  background-color: red;
  display: flex;
}

.box {
  background-color: green;
  border: black 2px solid;
  height: 100px;
  width: 100px;
}