.App {
  background-color: rgb(246, 246, 42);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  background-color: aqua;
  height: 310px;
  width: 310px;
  border: black 4px solid;
}

.row {
  background-color: red;
  display: flex;
}

.box {
  background-color: green;
  border: black 2px solid;
  height: 100px;
  width: 100px;
}

.instructions {
  margin-bottom: 20px;
}

.choice {
  display: flex;
  justify-content: center;
}

button,
h4 {
  height: 20px;
}

h4 {
  margin: 0;
}